*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(248.55deg, rgba(204, 255, 0, 0.58) 0.4%, #FD0000 100%);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.wrapper-input{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
}
.wrapper-input-icon{
    position: relative;
}
.input-field{
    width: 266px;
    height: 39px;
    position: relative;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
}
.position-icone{
    color: rgba(204, 255, 0, 0.58);
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 25px;
}
.input-field:hover{
    background-color: black;
}
.wrapper-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 3px;
}
.button-field{
    width: 266px;
    height: 39px;
    font-size: 18px;
    background-color: rgba(204, 255, 0, 0.58);
    color: #FD0000;
    border-radius: 5px;
}
.button-field:hover{
    background-color: white;
    cursor : pointer;
}