*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("./imgs/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.wrapper-input{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
}
.wrapper-input-icon{
    position: relative;
}
.input-field{
    width: 266px;
    height: 39px;
    position: relative;
    border-radius: 5px;
    padding-left: 40px;
    background-color: black;
    border: 2px solid yellow;
    color: white;
    font-family: robotoblack;
    font-size: 19px;
}
.position-icone{
    color: yellow;
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 25px;
}
.input-field:hover{
    border: 2px solid red;
}

.input-field:hover ~ .position-icone{
    background-color: black;
    color: red;
}
.input-field:focus, .input-field:active{
    outline: 0 !important;
    border: 2px solid red;
}
 .input-field:focus ~ .position-icone{
    color : red;
}
.wrapper-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 3px;



}
.button-field{
    width: 266px;
    height: 39px;
    font-size: 18px;
    background-color: rgba(204, 255, 0, 0.58);
    color: #000;
    border-radius: 5px;
    border: 1px solid white;
    font-family: auto;

    animation-name: wrapper;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.button-field:focus, .button-field:active{
    outline: 0 !important;
}

.button-field:hover{
    cursor : pointer;
    background-color: rgba(204, 255, 0, 0.58);
    font-size: 21px;
    transform: scale(1.01, 1.1);
}